/* Main CSS */

#header li{
	display: inline;
}
.list-item{

	height: 8vh;
	border: solid black 1px;
}
#outer-list{
	border: 1px solid black;
	max-height: 88vh;

	overflow-y: scroll;

}
#info{
}
#user-profile{
	max-width: 200px;
	max-height: 200px;
	margin-bottom: 20px;

}
.info-head{
	margin-top: 0px;
	border: 1px solid black;
	padding: 0px;
}
.info-block{
	border: 1px solid black;
}
#checkOnline{
	float: right;
	width:50%;
	height: 50px;
}
#online-dot{
	margin-right: 5px;
	float: right;
	border: 25px solid green;
}
#offline-dot {
	margin-right: 5px;
	float: right;
	border: 25px solid red;
}
#OwnerInfo{
	float: right;
	border: 1px solid black;
	width: 125%;
	height: 100px;
	clear: both;
	margin-top: 1vh;
}
#user-profile-list{
	max-width: 7vh;
	max-height: 7vh;
	margin-top: 7px;
	/*margin-bottom: 20px;*/

}
.list-names{
	font-size: 20px;
	font-family: "Times New Roman";
}
.list-type{
	font-size: 20px;
	font-family: "Times New Roman";
}
.fake{
	font-size: 24px;
	font-family: "Times New Roman";
}
#move {

	font-size: 16px;
}